<!-- howdy/templates/about.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>Welcome to the about page</h1>
    <p>
    I'm a twenty-something year old human. I like repairing broken things, getting stuff for free, and living cheap. I think sustainability is extremely important. Going to work every day is no sustainable! Reduce your expenses and generate a small revenue stream! This is freedom. I think.    </p>
    <a href="/">Go back home</a>
    </body>
</html>